body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol,
ul {
    padding-left: 30px;
}

.title {
    text-align: center;
    color: red;
    margin-top: 150px;
}

.board-row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}

.status {
    margin-bottom: 10px;
    text-align: center;
}

.square {
    width: 64px;
    height: 64px;
    border: 2px solid rgb(75, 75, 75);
    font-size: 42px;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}

.redX {
    color: red;
}

.blueO {
    color: blue;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.game-info {
    margin-left: 20px;
}